name: RCO for Linux targets

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:

  linux-reverse-shell:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build reverse shell for Linux
      run: cargo build -p tcp_reverse_shell --verbose

  linux-process-migration:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process migration for Linux
      run: cargo build -p process_migration --verbose

  linux-process-migration-xor:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process migration for Linux
      run: cargo build -p process_migration --features xor --verbose

  linux-process-migration-antisand:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process migration for Linux
      run: cargo build -p process_migration --features antisand --verbose

  linux-process-migration-all:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process migration for Linux
      run: cargo build -p process_migration --features xor,antisand --verbose

  linux-process-hollowing:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process hollowing for Linux
      run: cargo build -p process_hollowing --verbose

  linux-process-hollowing-xor:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process hollowing for Linux
      run: cargo build -p process_hollowing --features xor --verbose

  linux-process-hollowing-antisand:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process hollowing for Linux
      run: cargo build -p process_hollowing --features antisand --verbose

  linux-process-hollowing-all:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build process hollowing for Linux
      run: cargo build -p process_hollowing --features xor,antisand --verbose

  linux-xor-params:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build xor shellcode for Linux
      run: cargo build -p xor_params --verbose

  linux-remote-access-trojan:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build remote access trojan for Linux
      run: cargo build -p remote_access_trojan --verbose

  linux-all:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build all for Linux
      run: cargo build --verbose

  linux-all-xor:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build all for Linux
      run: cargo build --features xor --verbose

  linux-all-antisand:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build all for Linux
      run: cargo build --features antisand --verbose

  linux-all-all:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update rust
      run: rustup update
    - name: Update cargo
      run: cargo update
    - name: Build all for Linux
      run: cargo build --features xor,antisand --verbose
